html {
	background-color: #bbe4e9;
	color: hsl(210, 39%, 52%);
}

#lists {
	display: flex;
}

main {
	margin-left: 10%;
	margin-right: 10%;
}

footer {
	background: #99dee7;
	text-align: center;
}

#pictures {
	display: flex;
}

img {
	width: auto;
	height: 300px;
	border: 2px;
	border-style: solid;
}

@media (max-width: 600px) {
	img {
		height: 100px;
	}
}

#club {
	border-radius: 50%;
	margin-top: 20px;
}

h1,
h2,
h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	text-align: left;
}

li {
	padding: 2px;
}

a {
	font-size: 18px;
}

p {
	text-align: center;
	/* flex-shrink: 1; */
}

header {
	background-color: #79c2d0;
}
